.front-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-radius: 15px;
  background-color: #e8ebec;
  box-sizing: border-box;
}
.signin,
.create-account {
  flex: 50%;
}
.form-container {
  max-width: 90%;
}
.form-container,
.signin {
  width: 90%;
  margin: auto;
  font-size: 20px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.inputs {
  width: 60%;
  margin: 10px !important;
}
.submit-btn {
  height: 40px;
  border: none;
  background-color: #144f79;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s ease;
}
.submit-btn:hover {
  background-color: #e8ebec;
  border: 2px solid #4c7694;
  color: #144f79;
}
.links,
.signin h1 {
  text-align: center;
}
.links div * {
  font-size: 25px;
  margin: auto 5px;
}
@media screen and (max-width: 1200px) {
  .inputs {
    width: 90%;
    margin: 10px !important;
  }
}
