.App {
  height: 100vh;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.react-card-flip {
  margin: auto;
  height: 90%;
  width: 80%;
}
signup {
  height: 100%;
}
.create-account {
  background-image: url(./Images/Book.webp);
  background-size: cover;
  background-position: center center;
  color: white;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
}
.create-account button,
.welcome-back button {
  height: 45px;
  width: 250px;
  border: none;
  border-radius: 15px;
  background-color: #e8ebec;
  cursor: pointer;
  font-size: 25px;
}
.create-account button,
.create-account h1 {
  margin: 70px 0 0 40px;
}
.flip {
  display: none;
}
@media screen and (max-width: 1200px) {
  .signin,
  .signup {
    flex: 100% !important;
    border-radius: 15px !important;
  }
  .welcome-back,
  .create-account {
    display: none !important;
  }
  .flip {
    display: block;
    border: none;
    cursor: pointer;
    font-size: 22px;
    margin: 15px auto 0;
    color: #144f79;
  }
  .flip:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 600px) {
  .react-card-flip {
    height: 100%;
    width: 100%;
  }
  .front-container,
  .back-container {
    border-radius: 0 !important;
  }
  form {
    width: 100%;
  }
}
